[submodule "Sass"]
	path = Sass
	url = https://github.com/nathos/sass-textmate-bundle.git
[submodule "Haml"]
	path = Haml
	url = https://github.com/phuibonhoa/handcrafted-haml-textmate-bundle.git
[submodule "GemBrowser"]
	path = GemBrowser
	url = https://github.com/NaN1488/sublime-gem-browser.git
[submodule "Hayaku"]
	path = Hayaku
	url = https://github.com/hayaku/hayaku.git
[submodule "CoffeeScript"]
	path = CoffeeScript
	url = https://github.com/Xavura/CoffeeScript-Sublime-Plugin.git
[submodule "Guard"]
	path = Guard
	url = https://github.com/cyphactor/sublime_guard.git
[submodule "RubyTest"]
	path = RubyTest
	url = https://github.com/maltize/sublime-text-2-ruby-tests.git
[submodule "Less"]
	path = Less
	url = https://github.com/danro/LESS-sublime.git
[submodule "RailsNav"]
	path = RailsNav
	url = https://github.com/noklesta/SublimeRailsNav.git
[submodule "PaneNavigation"]
	path = PaneNavigation
	url = https://github.com/borist/SublimePaneNavigation.git
[submodule "RailsMigrationList"]
	path = RailsMigrationList
	url = https://github.com/KELiON/RailsMigrationsList.git
[submodule "RailsPartial"]
	path = RailsPartial
	url = https://github.com/wesf90/rails-partial.git
[submodule "RSpec"]
	path = RSpec
	url = https://github.com/SublimeText/RSpec.git
[submodule "ShellTurtlestein"]
	path = ShellTurtlestein
	url = https://github.com/misfo/Shell-Turtlestein.git
[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = https://github.com/titoBouzout/SideBarEnhancements
[submodule "NavigationHistory"]
	path = NavigationHistory
	url = https://github.com/timjrobinson/SublimeNavigationHistory.git
[submodule "Clang"]
	path = Clang
	url = https://github.com/quarnster/SublimeClang.git
[submodule "CTags"]
	path = CTags
	url = https://github.com/SublimeText/CTags.git
[submodule "REPL"]
	path = REPL
	url = https://github.com/wuub/SublimeREPL.git
[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "ColorPick"]
	path = ColorPick
	url = git@github.com:jnordberg/sublime-colorpick.git
[submodule "VCS Gutter"]
	path = VCS Gutter
	url = git://github.com/bradsokol/VcsGutter.git
[submodule "SublimeRails"]
	path = SublimeRails
	url = https://github.com/jonarrien/sublime-rails
[submodule "OpenSearchResult"]
	path = OpenSearchResult
	url = git@github.com:abrookins/OpenSearchResult.git
[submodule "SublimeRubocop"]
	path = SublimeRubocop
	url = git@github.com:pderichs/sublime_rubocop.git
[submodule "MaxPane"]
	path = MaxPane
	url = git@github.com:jisaacks/MaxPane.git
[submodule "Sublimerge"]
	path = Sublimerge
	url = git@github.com:borysf/Sublimerge.git
[submodule "Git"]
	path = Git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "AlignTab"]
	path = AlignTab
	url = git@github.com:randy3k/AlignTab.git
[submodule "jQuery"]
	path = jQuery
	url = git@github.com:SublimeText/jQuery.git
[submodule "LiveReload"]
	path = LiveReload
	url = git@github.com:dz0ny/LiveReload-sublimetext2.git
[submodule "ClipboardHistory"]
	path = ClipboardHistory
	url = git@github.com:kemayo/sublime-text-2-clipboard-history.git
[submodule "BeautifyRuby"]
	path = BeautifyRuby
	url = git@github.com:CraigWilliams/BeautifyRuby.git
[submodule "RailsCasts"]
	path = RailsCasts
	url = git@github.com:tdm00/sublime-theme-railscasts.git
[submodule "sublime-sparql"]
	path = sublime-sparql
	url = git@github.com:ronmichael/sublime-sparql.git
[submodule "sublime-sparql-runner"]
	path = sublime-sparql-runner
	url = https://github.com/cezarsa/sublime-sparql-runner.git
[submodule "RubySlim"]
	path = RubySlim
	url = https://github.com/slim-template/ruby-slim.tmbundle.git
[submodule "SublimeRailsSnippets"]
	path = SublimeRailsSnippets
	url = git@github.com:tadast/sublime-rails-snippets.git
[submodule "Stylus"]
	path = Stylus
	url = git@github.com:billymoon/Stylus.git
[submodule "MarkdownEditing"]
	path = MarkdownEditing
	url = git@github.com:ttscoff/MarkdownEditing.git
[submodule "SublimePrettyJson"]
	path = SublimePrettyJson
	url = git@github.com:dzhibas/SublimePrettyJson.git
[submodule "SublimeHTMLMustache"]
	path = SublimeHTMLMustache
	url = https://github.com/adamchainz/SublimeHTMLMustache.git
[submodule "Theme - Phoenix"]
	path = Theme - Phoenix
	url = https://github.com/netatoo/phoenix-theme/
[submodule "DashDoc"]
	path = DashDoc
	url = https://github.com/farcaller/DashDoc.git
[submodule "sublime-cucumber-step-finder"]
	path = sublime-cucumber-step-finder
	url = https://github.com/danielfrey/sublime-cucumber-step-finder.git
[submodule "cucumber-sublime2-bundle"]
	path = cucumber-sublime2-bundle
	url = https://github.com/drewda/cucumber-sublime2-bundle.git
[submodule "OpenFileList"]
	path = OpenFileList
	url = https://github.com/drikin/OpenFileList.git
[submodule "SublimeTODO"]
	path = SublimeTODO
	url = https://github.com/robcowie/SublimeTODO.git
[submodule "sublime-EasyMotion"]
	path = sublime-EasyMotion
	url = https://github.com/tednaleid/sublime-EasyMotion.git
[submodule "emmet-sublime"]
	path = emmet-sublime
	url = https://github.com/sergeche/emmet-sublime
[submodule "Theme - Night"]
	path = Theme - Night
	url = git@github.com:amisarca/sublime-text-theme-night.git
[submodule "Theme - Nil"]
	path = Theme - Nil
	url = git@github.com:nilium/st2-nil-theme.git
[submodule "sublime-capybara-snippets"]
	path = sublime-capybara-snippets
	url = git@github.com:asux/sublime-capybara-snippets.git
[submodule "SublimeText2 Snippets"]
	path = SublimeText2 Snippets
	url = git@github.com:Chris---/SublimeText-Sublime-Text-2-Snippets.git
