[submodule "Sass"]
	path = Sass
	url = https://github.com/nathos/sass-textmate-bundle.git
[submodule "Haml"]
	path = Haml
	url = https://github.com/phuibonhoa/handcrafted-haml-textmate-bundle.git
[submodule "GemBrowser"]
	path = GemBrowser
	url = https://github.com/NaN1488/sublime-gem-browser.git
[submodule "Hayaku"]
	path = Hayaku
	url = https://github.com/hayaku/hayaku.git
[submodule "CoffeeScript"]
	path = CoffeeScript
	url = https://github.com/Xavura/CoffeeScript-Sublime-Plugin.git
[submodule "Guard"]
	path = Guard
	url = https://github.com/cyphactor/sublime_guard.git
[submodule "RubyTest"]
	path = RubyTest
	url = https://github.com/maltize/sublime-text-2-ruby-tests.git
[submodule "Less"]
	path = Less
	url = https://github.com/danro/LESS-sublime.git
[submodule "RailsNav"]
	path = RailsNav
	url = https://github.com/noklesta/SublimeRailsNav.git
[submodule "PaneNavigation"]
	path = PaneNavigation
	url = https://github.com/borist/SublimePaneNavigation.git
[submodule "RailsMigrationList"]
	path = RailsMigrationList
	url = https://github.com/KELiON/RailsMigrationsList.git
[submodule "RailsPartial"]
	path = RailsPartial
	url = https://github.com/wesf90/rails-partial.git
[submodule "RSpec"]
	path = RSpec
	url = https://github.com/SublimeText/RSpec.git
[submodule "ShellTurtlestein"]
	path = ShellTurtlestein
	url = https://github.com/misfo/Shell-Turtlestein.git
[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = https://github.com/titoBouzout/SideBarEnhancements
[submodule "NavigationHistory"]
	path = NavigationHistory
	url = https://github.com/timjrobinson/SublimeNavigationHistory.git
[submodule "Clang"]
	path = Clang
	url = https://github.com/quarnster/SublimeClang.git
[submodule "CTags"]
	path = CTags
	url = https://github.com/SublimeText/CTags.git
[submodule "REPL"]
	path = REPL
	url = https://github.com/wuub/SublimeREPL.git
[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "ColorPick"]
	path = ColorPick
	url = git@github.com:jnordberg/sublime-colorpick.git
[submodule "VCS Gutter"]
	path = VCS Gutter
	url = git://github.com/bradsokol/VcsGutter.git
[submodule "SublimeRails"]
	path = SublimeRails
	url = https://github.com/jonarrien/sublime-rails
[submodule "OpenSearchResult"]
	path = OpenSearchResult
	url = git@github.com:abrookins/OpenSearchResult.git
[submodule "SublimeRubocop"]
	path = SublimeRubocop
	url = git@github.com:pderichs/sublime_rubocop.git
[submodule "MaxPane"]
	path = MaxPane
	url = git@github.com:jisaacks/MaxPane.git
[submodule "Sublimerge"]
	path = Sublimerge
	url = git@github.com:borysf/Sublimerge.git
[submodule "Git"]
	path = Git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "AlignTab"]
	path = AlignTab
	url = git@github.com:randy3k/AlignTab.git
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = git@github.com:SublimeCodeIntel/SublimeCodeIntel.git
[submodule "jQuery"]
	path = jQuery
	url = git@github.com:SublimeText/jQuery.git
[submodule "LiveReload"]
	path = LiveReload
	url = git@github.com:dz0ny/LiveReload-sublimetext2.git
[submodule "ClipboardHistory"]
	path = ClipboardHistory
	url = git@github.com:kemayo/sublime-text-2-clipboard-history.git
