[submodule "Sass"]
	path = Sass
	url = https://github.com/nathos/sass-textmate-bundle.git
[submodule "Haml"]
	path = Haml
	url = https://github.com/phuibonhoa/handcrafted-haml-textmate-bundle.git
[submodule "GemBrowser"]
	path = GemBrowser
	url = https://github.com/NaN1488/sublime-gem-browser.git
[submodule "Hayaku"]
	path = Hayaku
	url = https://github.com/hayaku/hayaku.git
